{% load static %}
<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
                <div class="sectionTitle">
                    <span class="h4">From The Blog</span>
                    <h2>Our Latest News</h2>
                </div>
            </div>
        </div>

        <!-- blog details row -->
        <div class="row">
            <div class="col-md-4">
                <div class="card blog-card">
                    <div class="card_img">
                        <a href="blog-singlepost-left-sidebar.html"><img class="img-full"
                                                                         src="{% static 'img/blog/blog1.jpg' %}"
                                                                         alt="Card image"></a>
                    </div>
                    <div class="card-body">
                        <span class="circle">25 <br> March</span>
                        <a href="blog-singlepost-left-sidebar.html"><h3 class="card-title">Maecenas a enim vitae neque
                            amet</h3></a>
                        <span>by <span><a href="" class="text-primary author">Admin</a> </span></span><span><a href="">0  Comnts</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card blog-card">
                    <div class="card_img">
                        <a href="blog-singlepost-left-sidebar.html"><img class="img-full"
                                                                         src="{% static 'img/blog/blog2.jpg' %}"
                                                                         alt="Card image"></a>
                    </div>
                    <div class="card-body">
                        <span class="circle">25 <br> March</span>
                        <a href="blog-singlepost-left-sidebar.html"><h3 class="card-title">Curbitur a odio accu msan
                            mole</h3></a>
                        <span>by <span><a href="" class="text-primary author">Admin</a> </span></span><span><a href="">0  Comnts</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card blog-card">
                    <div class="card_img">
                        <a href="blog-singlepost-left-sidebar.html"><img class="img-full"
                                                                         src="{% static 'img/blog/blog3.jpg' %}"
                                                                         alt="Card image"></a>
                    </div>
                    <div class="card-body">
                        <span class="circle">25 <br> March</span>
                        <a href="blog-singlepost-left-sidebar.html"><h3 class="card-title">Maecenas a enim vitae neque
                            amet</h3></a>
                        <span>by <span><a href="" class="text-primary author">Admin</a> </span></span><span><a href="">0  Comnts</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog details row ends -->
    </div>
</section>