{% load static %}
<section class="brand_carousel bg-primary">
    <div class="container">
        <div class="slick_brands">
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand1.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand2.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand3.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand4.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand1.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand2.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand3.png' %}" alt="">
                </div>
            </div>
            <div class="brand_single">
                <div class="brand_img">
                    <img src="{% static 'img/home/brands/brand4.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>