{% load static %}

<section class="cta">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-xs-6 col-md-6">
                <div class="cta-left">
                    <img src="{% static 'img/home/cta.jpg' %}" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="cta_content-box">
                    <div class="cta_desc">
                        <h2>You Owe Yourself <br> This Moment</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud
                            exercitation.
                        </p>
                        <a href="page-aboutus.html" class="btn btn-cta btn-default">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>