{% load static %}
<section class="contact">
      <div class="container">
        <div class="contact_item-container">
          <div class="row justify-content-center justify-content-lg-between">
            <div class="col-md-4">
              <div class="">
                <h3>About Us</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut.
                </p>
              </div>
            </div>
            <div class="col-md-4 col-lg-3">
              <div class="">
                <h3>Open Hours</h3>
                <ul>
                  <li>Mon - Fri: 9 AM - 5 PM</li>
                  <li>Saturday: 9 AM - 3 PM</li>
                  <li>Sunday:  Closed</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="">
                <h3>Contact</h3>
                <ul>
                  <li>176 W street name, New York, NY 10014 </li>
                  <li>Email:<a href="mailto"> info@example.com </a></li>
                  <li>Telephone: <a href="tel:+1(800)123-4566"> +1(800)123-4566</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>