{% load static %}

<section class="deals">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-xs-12 text-center">
                <div class="sectionTitle">
                    <span class="h4">Best Deal</span>
                    <h2>Our Smart Rates</h2>
                </div>
            </div>
        </div>
        <!-- Deal offer row starts -->
        <ul class="row">
            <li class="col-md-6">
                <div class="media deal_single">
                    <div class="deal_single_img">
                        <img class="d-flex mr-3" src="{% static 'img/home/deal/deal1.jpg' %}"
                             alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <a href="store-cart.html"><h3 class="mt-0">Deluxe Organic Facial</h3></a>
                        <a class="btn btn-primary btn-sm">$70.00</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div class="media deal_single">
                    <div class="deal_single_img">
                        <img class="d-flex mr-3" src="{% static 'img/home/deal/deal2.jpg' %}"
                             alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <a href="store-cart.html"><h3 class="mt-0">Massage Therapy</h3></a>
                        <a class="btn btn-primary btn-sm">$70.00</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div class="media deal_single">
                    <div class="deal_single_img">
                        <img class="d-flex mr-3" src="{% static 'img/home/deal/deal2.jpg' %}"
                             alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <a href="store-cart.html"><h3 class="mt-0">Pregnancy Massage</h3></a>
                        <a class="btn btn-primary btn-sm">$70.00</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt.
                        </p>
                    </div>
                </div>
            </li>

            <li class="col-md-6">
                <div class="media deal_single">
                    <div class="deal_single_img">
                        <img class="d-flex mr-3" src="{% static 'img/home/deal/deal4.jpg' %}"
                             alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <a href="store-cart.html"><h3 class="mt-0">Physio Therapy</h3></a>
                        <a class="btn btn-primary btn-sm">$70.00</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div class="media deal_single">
                    <div class="deal_single_img">
                        <img class="d-flex mr-3" src="{% static 'img/home/deal/deal5.jpg' %}"
                             alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <a href="store-cart.html"><h3 class="mt-0">Stone Massage</h3></a>
                        <a class="btn btn-primary btn-sm">$70.00</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt.
                        </p>
                    </div>
                </div>
            </li>
            <li class="col-md-6">
                <div class="media deal_single">
                    <div class="deal_single_img">
                        <img class="d-flex mr-3" src="{% static 'img/home/deal/deal6.jpg' %}"
                             alt="Generic placeholder image">
                    </div>
                    <div class="media-body">
                        <a href="store-cart.html"><h3 class="mt-0">Sports Massage</h3></a>
                        <a class="btn btn-primary btn-sm">$70.00</a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusm tempor incididunt.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Deal offer row ends -->
    </div>
</section>