{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">

            <!-- BACK TO TOP BUTTON -->
            <!--             <a href="#pageTop" class="backToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>-->
            <!-- NEWSLETTER -->
            <div class="col-md-6 offset-md-3">
                <hr>

                <form class="newsletter text-center" action="javascript:void(0)" method="post">
                    <h3 class="col-8 offset-2 text-center">Subscribe to our Newsletter</h3>
                    <input class="clearfix" type="email" required="" name="email" placeholder="Enter your email">
                    <button type="submit" class="btn btn-primary btn-default" value="subscribe">subscribe</button>
                </form>
            </div>

            <!-- COPY RIGHT -->
            <div class="col-md-6 offset-md-3">
                <ul class="list-inline socialLink text-center">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-feed" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="copyRight_text text-center">
                    <p>Adora &copy; 2019. All Rights Reserved by <a href="http://www.iamabdus.com/" target="_blank">Abdus</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
