{% load static %}

<section class="schedule">
        <div class="container">
            <div class="row">
                <!-- Schedule column left starts -->
                <div class="col-md-7">
                    <div class="sectionTitle">
                        <span class="h4">Opening Hours</span>
                        <h2>When We Work?</h2>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-4">
                            <div class="schedule_single-block">
                                <h3>Monday</h3>
                                <span>9.00 AM - 5.00 PM</span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="schedule_single-block">
                                <h3>Tuesday</h3>
                                <span>9.00 AM - 5.00 PM</span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="schedule_single-block">
                                <h3>Wednesday</h3>
                                <span>9.00 AM - 5.00 PM</span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="schedule_single-block">
                                <h3>Thursday</h3>
                                <span>9.00 AM - 5.00 PM</span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="schedule_single-block">
                                <h3>Friday</h3>
                                <span>9.00 AM - 5.00 PM</span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="schedule_single-block">
                                <h3>Sat - Sunday</h3>
                                <span class="text-primary">Closed</span>
                            </div>
                        </div>
                    </div>
                </div><!-- Schedule column Left ends -->
                <!-- Schedule column right starts -->
                <div class="col-md-5 carousel-container">
                    <div class="event_carousel" style="background-image: url('assets/img/home/schedule.jpg');">
                        <div class="event_details">
                            <span><strong>January 25, 2019</strong></span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua ut enim ad minim veniam quis nostrud exer
                                citation ullamco laboris.
                            </p>
                        </div>
                        <div class="event_details">
                            <span><strong>March 30, 2019</strong> </span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt.
                            </p>
                        </div>
                    </div>
                </div><!-- Schedule column right ends -->
            </div>
        </div>
    </section>