{% load static %}
<section class="home-service tab bg-sand">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 col-xs-12 text-center">
                <div class="sectionTitle">
                    <span class="h4">Our Services</span>
                    <h2>We Specialized In</h2>
                </div>
            </div>
        </div>
        <!-- Tabs row starts here -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs icon_tabs nav-justified" role="tablist">
                    <li class="nav-item text-center">
                        <a class="nav-link active" href="#tab1" role="tab" data-toggle="tab">
                            <i class="fa fa-asl-interpreting" aria-hidden="true"></i>
                            <h3>Massage Therapy</h3>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#tab2" role="tab" data-toggle="tab">
                            <i class="fa fa-bed" aria-hidden="true"></i>
                            <h3>Pregnancy Massage</h3>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#tab3" role="tab" data-toggle="tab">
                            <i class="	fa fa-signing"></i>
                            <h3>Physio Therapy</h3>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#tab4" role="tab" data-toggle="tab">
                            <i class="fa fa-cubes"></i>
                            <h3>Stone Massage</h3>
                        </a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#tab5" role="tab" data-toggle="tab">
                            <i class="fa fa-soccer-ball-o"></i>
                            <h3>Sports Massage</h3>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade show active" id="tab1">
                        <div class="row tab-content">
                            <div class="col-xs-5 col-md-5 push-md-7">
                                <div class="service_image">
                                    <img src="{% static 'img/home/service.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="col-xs-7 col-md-7 pull-md-5">
                                <div class="tab-content_left">
                                    <h3>Massage Therapy</h3>
                                    <p>
                                        .ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure
                                        dolor.
                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                        officia deserunt mollit anim id est laborum. Sed ut perspici
                                        atis unde omnis iste natus error sit voluptatem.
                                    </p>
                                    <ul class="styled_list">
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Fringilla dolor
                                            ullamcorper.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Dolor ullamcorp
                                            faucibu.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Tempus velit
                                            venenatis.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Magna laoreet augue
                                            interdum.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Laoreet augue
                                            interdum et.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Posuere magna mollis
                                            lectus.</a></li>
                                    </ul>
                                    <a href="page-service.html" class="btn btn-primary btn-default">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab2">
                        <div class="row tab-content">
                            <div class="col-xs-5 col-md-5 push-md-7">
                                <div class="service_image">
                                    <img src="{% static 'img/home/service.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="col-xs-7 col-md-7 pull-md-5">
                                <div class="tab-content_left">
                                    <h3>Pregnancy Massage</h3>
                                    <p>
                                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                        roots in a piece of classical Latin literature from 45 BC, making it over
                                        2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                        College in Virginia, looked up one of the more obscure Latin words.
                                    </p>
                                    <ul class="styled_list">
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Fringilla dolor
                                            ullamcorper.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Dolor ullamcorp
                                            faucibu.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Tempus velit
                                            venenatis.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Magna laoreet augue
                                            interdum.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Laoreet augue
                                            interdum et.</a></li>
                                    </ul>
                                    <a href="page-service.html" class="btn btn-primary btn-mid">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab3">
                        <div class="row tab-content">
                            <div class="col-xs-5 col-md-5 push-md-7">
                                <div class="service_image">
                                    <img src="{% static 'img/home/service.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="col-xs-7 col-md-7 pull-md-5">
                                <div class="tab-content_left">
                                    <h3>Physio Therapy</h3>
                                    <p>
                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                        officia deserunt mollit anim id est laborum. Sed ut perspici
                                        atis unde omnis iste natus error sit voluptatem.
                                    </p>
                                    <ul class="styled_list">
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Fringilla dolor
                                            ullamcorper.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Dolor ullamcorp
                                            faucibu.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Tempus velit
                                            venenatis.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Magna laoreet augue
                                            interdum.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Laoreet augue
                                            interdum et.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Posuere magna mollis
                                            lectus.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Posuere magna mollis
                                            lectus.</a></li>
                                    </ul>
                                    <a href="page-service.html" class="btn btn-primary btn-mid">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab4">
                        <div class="row tab-content">
                            <div class="col-xs-5 col-md-5 push-md-7">
                                <div class="service_image">
                                    <img src="{% static 'img/home/service.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="col-xs-7 col-md-7 pull-md-5">
                                <div class="tab-content_left">
                                    <h3>Stone Massage</h3>
                                    <p>
                                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                        inceptos himenaeos. Donec metus dui, ullamcorper id aliquam dapibus,
                                        sollicitudin elementum mi. Donec lectus dolor, hendrerit at elementum in,
                                        consequat iaculis diam. Nulla vel felis nibh. Nulla rutrum posuere mollis.
                                        Quisque blandit luctus diam, non sollicitudin sem sollicitudin a.
                                        Suspendisse est neque, viverra et eleifend sed, ullamcorper ut neque.
                                    </p>
                                    <ul class="styled_list">
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Fringilla dolor
                                            ullamcorper.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Dolor ullamcorp
                                            faucibu.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Tempus velit
                                            venenatis.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Magna laoreet augue
                                            interdum.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Laoreet augue
                                            interdum et.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Posuere magna mollis
                                            lectus.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Posuere magna mollis
                                            lectus.</a></li>
                                    </ul>
                                    <a href="page-service.html" class="btn btn-primary btn-mid">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab5">
                        <div class="row tab-content">
                            <div class="col-xs-5 col-md-5 push-md-7">
                                <div class="service_image">
                                    <img src="{% static 'img/home/service.png' %}" alt="image">
                                </div>
                            </div>
                            <div class="col-xs-7 col-md-7 pull-md-5">
                                <div class="tab-content_left">
                                    <h3>Sports Massage</h3>
                                    <p>
                                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                                        est laborum. Sed ut perspici
                                        atis unde omnis iste natus error sit voluptatem.
                                    </p>
                                    <ul class="styled_list">
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Fringilla dolor
                                            ullamcorper.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Dolor ullamcorp
                                            faucibu.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Tempus velit
                                            venenatis.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Magna laoreet augue
                                            interdum.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Laoreet augue
                                            interdum et.</a></li>
                                        <li class=""><a href="#"><i class="fa fa-circle-o"></i> Posuere magna mollis
                                            lectus.</a></li>
                                    </ul>
                                    <a href="page-service.html" class="btn btn-primary btn-mid">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Tabs row starts here -->
    </div>
</section>